.homeContainer { width:auto; height:92vmin; top:0; display:flex; justify-content:center; align-items:center; }

.homeCard { position:relative; height:40vw; width:18vw; max-width:20%; margin:2vw; transition:1s ease-in-out; transform-style: preserve-3d;   }
.homeCard-face { top:0; left:0; width:100%; height:100%; position:absolute; backface-visibility:hidden;  }
.homeCard-face--back { transform:rotateY(0.5turn) }
.homeCardImg { height:40vw; max-width:100%; object-fit:cover; border:0.2vw solid var(--col1); border-radius:3vw; }
.homeCard:hover { transform:rotateY(0.5turn) }

.nameContainer { height:auto; width:auto; margin:3vw 0; justify-content:center; align-items:center; display:flex; }
.name::before { content:attr(data-text); position:absolute; top:0; left:0; width:0; height:100%; color:var(--col1); -webkit-text-stroke: 0.1vw var(--col1); border-right: 2px solid var(--col1); overflow:hidden; animation: animate 2s linear 0.5s 1 normal forwards, flashBar 1s infinite; }
.name { position:relative; width:70vw; font-size:13vw; font-family:'Raleway',sans-serif; color:var(--col0); -webkit-text-stroke:0.3vw var(--col1); text-transform:uppercase; }

@keyframes animate {
	0% { width: 0; }
	80% { width: 70%; }
	100% { width: 100%; }
}

@keyframes flashBar {
	0% { border-right: 2px solid var(--col1); }
	50% { border-right: 2px solid var(--col0); }
	100% { border-right: 2px solid var(--col1); }
}