.homeContainer { width:auto; height:auto; top:0; display:flex; justify-content:center; align-items:center; }
.homeCard { position:relative; height:40vw; width:18vw; max-width:20%; margin:2vw; transition:1s ease-in-out; transform-style: preserve-3d;   }
.homeCard-face { top:0; left:0; width:100%; height:100%; position:absolute; backface-visibility:hidden;  }
.homeCard-face--back { transform:rotateY(0.5turn) }
.homeCardImg { height:40vw; max-width:100%; object-fit:cover; border:0.2vw solid var(--col1); border-radius:3vw; }
.homeCard:hover { transform:rotateY(0.5turn) }
.nameContainer { height:auto; width:auto; margin:3vw 0; justify-content:center; align-items:center; display:flex; }
.name::before { content:attr(data-text); position:absolute; top:0; left:0; width:0; height:100%; color:var(--col1); -webkit-text-stroke: 0.1vw var(--col1); border-right: 2px solid var(--col1); overflow:hidden; animation: animate 2s linear 0.5s 1 normal forwards, flashBar 1s infinite; }
.name { position:relative; width:70vw; font-size:13vw; font-family:'Raleway',sans-serif; color:var(--col0); -webkit-text-stroke:0.3vw var(--col1); text-transform:uppercase; }

@keyframes animate { /* Name */
	0% { width: 0; }
	80% { width: 80%; }
	100% { width: 100%; }
}

@keyframes flashBar { /* Name */
	0% { border-right: 2px solid var(--col1); }
	50% { border-right: 2px solid var(--col0); }
	100% { border-right: 2px solid var(--col1); }
}

.background { width:100%; height:100%; position:fixed; background-size:cover; background-position:50% 50%; background-repeat:no-repeat; z-index:2; }

/* .header { height:100px; width: auto; color:var(--col1); } */

/* ABOUT PAGE */

.headerContainer { height:90vmin; width:98vmax; justify-content:right; align-items:center; display:flex; }
.headerContainer2 { height:auto; width:auto; align-items:center; justify-content:center; display:flex; padding:5vw; }
.headerImg { height:75vw; width:100vw; object-fit:cover; position:absolute; top:0; left:0; }
.header1 { height:auto; width:auto; font-size:10vw; font-weight:bold; color:var(--col1); z-index:10; padding:0; background-color:white; }
.header2 { height:auto; width:auto; font-size:10vw; font-weight:bold; color:var(--col1); z-index:10; padding:0; background-color:white; background-color:rgba(255, 255, 255, 0.5); border-radius:1vw; }

*::-webkit-scrollbar { width:0.6vw; height:1vh }
*::-webkit-scrollbar-track { background-color:transparent; }
*::-webkit-scrollbar-thumb { background-color:var(--col0); border-radius:10px; border:3px solid var(--col2) }

/* THE ANSH SECTION */

.wrapper { position:absolute; top:115%; display:flex; overflow:hidden; }
.dynamic-txts { margin-left:0.5vw; height:4vw; }
.dynamic-txts li { list-style:none; color:var(--col1); font-size:2vw; position:relative; top:0; animation:slide 12s steps(4) infinite; width:97vw; }
.dynamic-txts li span { position:relative; margin-left:8vw; line-height:90px; }
.dynamic-txts li span::after { content:""; position:absolute; left:0; height:100%; margin-top:1.4vw; width:100%; background:var(--col0); border-left:2px solid var(--col6); animation:typing 3s steps(100) infinite; } 
@keyframes slide {
    100% { top:-360px; }
}
@keyframes typing {
    40%, 60% { left: calc(100% + 30px); }
    100% { left:0; }
}

.iframely-embed { position:fixed; top:0; left:0; width:100%; height:100%; z-index:50; background:white; }
#app { z-index:100; display:grid; grid-template-columns:1fr 2fr; align-items:center; padding-bottom:4vmin; height:93vh; width:100%; background:var(--col6); color:var(--col1); }
body { overflow-x:hidden; }
.title { padding-left:1em; grid-column:1/-1; grid-row:1; font-size:8vw; width:100%; z-index:2; }
.title-inner { display:inline-block; }
  
@keyframes text-clip {
    from { clip-path:polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); }
    to { clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}
  
@keyframes outer-left {
    from { transform:translateX(50%); }
    to { transform:none; }
}
  
@keyframes inner-left {
    from { transform:translateX(-50%); }
    to { transform:none; }
}
.cafe, .mozart { animation:outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both; }
.title-inner { display:inline-block; animation:inner-left 1s 1s ease both; }
.cafe-inner { background-color:var(--col0); padding:0 5vw; display:inline-block; font-weight:bold; animation:inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both; }
.mozart-inner { background-color:var(--col0); padding:0 5vw; animation:text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both; font-weight:bold; }
.title { animation:outer-left 1s 1s ease both; }
.mozart { display:inline-block; }
.image { grid-row:1; grid-column:2; margin-left:-2rem; opacity:1; animation:image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards; }
@keyframes image-in {
    from { clip-path:polygon(0 0, 100% 0, 100% 0, 0 0); }
    to { clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}
img { display:block; width:100%; height:auto; }